.App {
    height: 100vh;
    background: url("https://img.freepik.com/premium-vector/abstract-hexagonal-molecular-structures-technology-background-science-style-medical-design-vector-illustration_41981-2876.jpg") no-repeat center  ;
    background: url("https://t4.ftcdn.net/jpg/03/50/56/63/360_F_350566332_iYX5ZEI1mpqo7pwtMQA9DPTP43zKQxez.jpg") no-repeat center  ;
    background-size: cover;
}



